<!DOCTYPE html>
<html lang="en">
<head>
    <img src = "static/about us.jpg" alt="" width="1000px"; height="500px">
    <meta charset="UTF-8">
    <title>ABout Guru's mp3 player</title>
     <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>

<br>
<br>
    Guru's music player plays a role of playing your favorite music,you download music in download site like
      <a href ="https://music.amazon.com/" target=_blank title="This takes you to Amazon music">
    Amazon mp3
    </a>
    ,
     <a href ="https://open.spotify.com/" target=_blank title="This takes you to Spotify">
    Spotify mp3
    </a>,</br>

    <a href ="https://tubidy.com/" target=_blank title="This takes you to Tubidy">
    Tubidy mp3
    </a>

    or any other,then you install it on your favorite list then the mp3 plays them under your instructions.

</p1>
</br>
<br>
<p2>
        Incase of any recomendations or complains please email us

          <a href ="mailto:wambuasammy01@mail.com" target=_blank title="Email us">
              guru'smp3player@mail.com
          </a>  </br>
</br>

    </p2>

   <p3>
       Thank you for choosing GURU'S MP3 MUSIC PLAYER, enjoy</br>

   </p3>

<a class="btn btn-outline-info"  href="/">Back</a>

</body>
</html>