<!DOCTYPE html>
<br lang="en">
<head>
<style>
      body
      {
          background-image: url({{ url_for('static',filename='music.jpg') }})
      }
    </style>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
     <title>Home</title>
</head>
<br>

    <h1 class="text-infor text-center">WELCOME TO GURU'S MP3MUSIC PLAYER</h1>
 <img src = "/static/music%20photo.jpg" alt="" width="1000px"; height="500px">

    <h2 class="text-infor text-center">To continue please Log in or Sign up with us</h2>
    <a  class="btn btn-outline-info" href="/sign up">Sign Up</a>
    <a class="btn btn-outline-info" href="/login">Login</a></br>
<a class="btn btn-outline-info" href="/about">About Us</a> </br>




</body>
</html>